.content {
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.title {
  width: 100%;
  h1 {
    text-align: center;
    color: #fff;
    font-size: xx-large;
    font-weight: bold;
  }
}
