/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-background {
  background-image: url("assets/img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
